# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head(15)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
legendary = pokemon['Legendary'][(pokemon['Legendary'] == True)].value_counts()
non_legendary = pokemon['Legendary'][(pokemon['Legendary'] == False)].value_counts()

print(legendary)
print(non_legendary)

True    65
Name: Legendary, dtype: int64
False    735
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [8]:
# Your code here:
leg_total_mean = pokemon['Total'][(pokemon['Legendary'] == True)].mean()
leg_total_mean

637.3846153846154

In [9]:
nonleg_total_mean = pokemon['Total'][(pokemon['Legendary'] == False)].mean()
nonleg_total_mean

417.21360544217686

In [10]:
leg_total_std = pokemon['Total'][(pokemon['Legendary'] == True)].std()
leg_total_std

60.93738905315344

In [11]:
nonleg_total_std = pokemon['Total'][(pokemon['Legendary'] == False)].std()
nonleg_total_std

106.76041745713005

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [12]:
# Your code here:
from scipy.stats import ttest_ind

ttest_ind(pokemon['Total'][(pokemon['Legendary'] == True)], pokemon['Total'][(pokemon['Legendary'] == False)], equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:
#The pvalue is lower than 0.05 so we can reject that both values are equal.
#This mean that the total point for legendary and non legendary pokemos are not equal.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [16]:
# Your code here:
types = pokemon['Type 1'].unique()
types

for type in types:
    print(type + ': ' + str(pokemon['Type 1'][(pokemon['Type 1'] == type)].value_counts()))

Grass: Grass    70
Name: Type 1, dtype: int64
Fire: Fire    52
Name: Type 1, dtype: int64
Water: Water    112
Name: Type 1, dtype: int64
Bug: Bug    69
Name: Type 1, dtype: int64
Normal: Normal    98
Name: Type 1, dtype: int64
Poison: Poison    28
Name: Type 1, dtype: int64
Electric: Electric    44
Name: Type 1, dtype: int64
Ground: Ground    32
Name: Type 1, dtype: int64
Fairy: Fairy    17
Name: Type 1, dtype: int64
Fighting: Fighting    27
Name: Type 1, dtype: int64
Psychic: Psychic    57
Name: Type 1, dtype: int64
Rock: Rock    44
Name: Type 1, dtype: int64
Ghost: Ghost    32
Name: Type 1, dtype: int64
Ice: Ice    24
Name: Type 1, dtype: int64
Dragon: Dragon    32
Name: Type 1, dtype: int64
Dark: Dark    31
Name: Type 1, dtype: int64
Steel: Steel    27
Name: Type 1, dtype: int64
Flying: Flying    4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [21]:
# Your code here:
water_mean = pokemon['Total'][(pokemon['Type 1'] == 'Water')].mean()
water_std = pokemon['Total'][(pokemon['Type 1'] == 'Water')].std()
non_water_mean = pokemon['Total'][(pokemon['Type 1'] != 'Water')].mean()
non_water_std = pokemon['Total'][(pokemon['Type 1'] != 'Water')].std()

print(water_mean)
print(water_std)
print(non_water_mean)
print(non_water_std)

430.45535714285717
113.1882660643146
435.85901162790697
121.0916823020807

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [19]:
# Your code here:
ttest_ind(pokemon['Total'][(pokemon['Type 1'] == 'Water')],
          pokemon['Total'][(pokemon['Type 1'] != 'Water')], equal_var=False)

Ttest_indResult(statistic=-0.4638681676327303, pvalue=0.6433915385821449)

Write your conclusion below.

In [22]:
# Your conclusions here:
#We can't discard the hypothesis that the mean for water and non water pokemon are not equal.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [23]:
# Your code here:
from scipy.stats import ttest_rel

ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:
#The pvalue is lower thatn 0.05 so we can discard that both values (attack and defense) are equal.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [24]:
# Your code here:
ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [25]:
# Your conclusions here:
#In this case, the pvalue is higher than 0.05 so we cannot discard the hypothesis.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [26]:
# Your code here:
from scipy.stats import ttest_1samp

ttest_1samp(pokemon['Attack'] - pokemon['Defense'], 0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [29]:
# Your code here:
con_table = pd.crosstab(pokemon['Legendary'], pokemon['Type 1']=='Water')
con_table

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [31]:
# Your code here:
from scipy.stats import chi2_contingency


chi2_contingency(con_table)

(2.9429200762850503, 0.08625467249550949, 1, array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [32]:
# Your answer here:
#Since the pvalue is 0.086... higher than the alpha (0.05), we CAN'T reject the null hypothesis.